frontend kubernetes-frontend
  bind *:6443
  mode tcp
  option tcplog
  default_backend kubernetes-backend

backend kubernetes-backend
  option httpchk GET /healthz
  http-check expect status 200
  mode tcp
  option ssl-hello-chk
  balance roundrobin
    # TODO: Take IPs from Vagrant or Ansible inventory
    server km1 172.16.0.101:6443 check fall 3 rise 2
    server km2 172.16.0.102:6443 check fall 3 rise 2
    server km3 172.16.0.103:6443 check fall 3 rise 2
